@font-face {
  font-family: norse-bold;
  src: url(./Norse-Bold.otf);
}

:root {
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
}

header {
  background: url(./header-picture.jpg) center;
  background-size: cover;
  color: white;
  width: 40vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
  padding: 16px 0;
}

.logo {
  font-weight: bold;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: calc(16px * 9);
  padding: 16px 0;
  font-family: norse-bold, sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 5rem;
}

header a {
  color: white;
}

main {
  width: 60vw;
  padding: 32px 128px 32px 32px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.25;
}

em {
  font-style: italic;
}

.presentation {
  margin-bottom: 1rem;
}

form {
  padding: 16px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

form > div {
  display: flex;
  flex-flow: column;
  width: 40%;
  margin-bottom: 16px;
  margin-right: calc(16px * 2);
}

label {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.required {
  color: red;
  margin-left: 0.125rem;
}

input {
  font-size: 1.25rem;
  border: 2px solid rgb(208, 208, 208);
  border-radius: 4px;
  padding: 4px 16px;
  box-sizing: border-box;
}

input.error {
  border: 2px solid red;
}

input.passed {
  border: 2px solid #00c700;
}

.error-message {
  height: 1rem;
  font-size: 0.75rem;
  color: red;
}

button[type="submit"] {
  cursor: pointer;
  font-size: 1.25rem;
  width: fit-content;
  padding: 8px 40px;
  margin-top: 16px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: green;
  border-radius: 4px;
}

main a {
  color: green;
}

.log-in {
  margin-top: 40px;
}
